body{
    background-color: rgb(246, 249, 253);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
}
.part-2-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.title-part2{
    font-size: 40px;
    line-height: 45px;
    font-weight: 700;
}
.arriba-container {
    max-height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 75px 75px 75px
}

.parrafo-gris{
    color: rgb(108, 108, 108);
}

.pink-button{
    background-color: rgb(255, 75, 99);
    border-radius: 20px;
    border-color: transparent;
    color: white;
    font-weight: 700;
    padding: 10px 30px;
}

.transparente-button{
    background-color:transparent;
    border-radius: 20px; 
    border-style: solid;
    border-color: #2d2d2d;
    padding: 10px 30px;
    font-weight: 700;
    margin-left: 1%;
}

.img-arriba{
    width: 50%;
    max-height: 100%;
    margin:2%;
    display: flex;
    justify-content: space-around;
}

.img{
    max-height: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    
}

.text-arriba-container{
    width: 50%;
    max-height: 100%;
    margin:1%
}

.tick-iconlist{
    list-style-image: url(https://api.iconify.design/material-symbols/check-box-outline.svg?color=%2346c046);
    padding: 20px;
    
}

.parrafo-gris-li{
    color: rgb(108, 108, 108);
    padding-bottom: 20px;
    
}

.parrafo-gris-li2{
    color: rgb(108, 108, 108);
}

.abajo-container {
    background-color: rgb(229, 237, 245);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 75px 75px 75px;
}

.container-botones-rectangulo{
    height: 25%;
    width: 70%;
    
}

.schedule-boton{
    background-color: rgb(143, 92, 227);
    border: none;
    font-weight: 700;
    color: white;
    padding: 10px 20px;
    font-size: 17px;
    
}

.tracking-boton{
    background-color: rgb(246, 249, 253);
    border: none;
    padding: 10px 23px;
    font-weight: 700;
    margin-left: 1%;
    color: rgb(108, 108, 108);
    font-size: 17px;
}

.organize-boton{
    background-color: rgb(246, 249, 253);
    border: none;
    padding: 10px 22px;
    font-weight: 700;
    margin-top: 3%;
    color: rgb(108, 108, 108);
    font-size: 17px;
}

.text-abajo-container{
    width: 50%;
    max-height: 80%;
    margin:1%;
    
}

.img-abajo{
    width: 50%;
    margin: 2%;
    max-height: 100%;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width:480px) {
    .arriba-container {
        display: flex;
        overscroll-behavior-block: auto;
    }
}

@media screen and (max-width:480px) {
    .abajo-container {
        display: flex;
        overscroll-behavior-block: auto;
        height: 100%;
        width: 100%;
    }
}

@media screen and (max-width:480px) {
    .organize-boton {
        display: flex;
        height: 40px;
        
    }
}

@media screen and (max-width:480px) {
    .tracking-boton {
        display: flex;
        height: 40px;
        
    }
}

@media screen and (max-width:480px) {
    .schedule-boton {
        display: flex;
        height: 40px;
        
    }
}

@media screen and (max-width:480px) {
    .container-botones-rectangulo {
        height: 150px;
        display: flex;
        flex-direction: column;
        
    }
}

@media screen and (max-width:480px) {
    .part-2-container {
        height: 100%;
        padding: 0%;
    }
}

@media screen and (max-width:480px) {
    .down-buttons {
        display: flex;
    }
}
